@page "/tasks"

@using Microsoft.AspNetCore.Authorization
@using TodoListBlazorWasm.Components;
@using TodoListBlazorWasm.Models.Enums;
@using static System.Enum;

@inject IConfiguration Configuration;

@* @attribute [Authorize] *@

<PageTitle>Task list</PageTitle>

<h1>Task list</h1>

@if (Tasks is null || Assignees is null)
{
    <LoadingIndicator />
}
else
{
    <div class="row">
        <EditForm Model="TasksSearch" OnSubmit="SearchForm">
            <div class="row">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="TasksSearch!.Name" />
                </div>

                <div class="col">
                    <label>Assignee</label>

                    <InputSelect class="form-control" @bind-Value="TasksSearch.AssigneeId">
                        <option>Select an asignee</option>

                        @foreach (var asignee in Assignees!)
                        {
                            <option value="@asignee.Id">@($"{asignee.LastName} {asignee.FirstName}")</option>
                        }
                    </InputSelect>
                </div>

                <div class="col">
                    <label>Priority</label>

                    <InputSelect class="form-control" @bind-Value="TasksSearch.Priority">
                        <option>Select a priority</option>

                        @foreach (var item in GetNames(typeof(Priority)))
                        {
                            <option value="@item">@item</option>
                        }
                    </InputSelect>
                </div>

                <div class="col pt-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

                <div class="col pt-4">
                    <a href="/task-create" class="btn btn-success">Create</a>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th />
                    <th />
                </tr>
            </thead>

            <tbody>
                @foreach (var task in Tasks)
                {
                    <tr>
                        <td>@task.Name</td>

                        <td>
                            <PriorityLabel Priority="task.Priority" />
                        </td>

                        <td>@(task.Assignee is null ? "N/A" : $"{task.Assignee.LastName} {task.Assignee.FirstName}")</td>

                        <td>
                            <StatusLabel Status="task.Status" />
                        </td>

                        <td>@task.CreatedAt.ToString(Configuration["DateFormat"])</td>
                        <td>@(task.UpdatedAt.HasValue ? task.UpdatedAt.Value.ToString(Configuration["DateFormat"]) : "N/A")</td>

                        <td>
                            <a href="/task-edit/@task.Id">Edit</a>
                        </td>

                        <td>
                            <a href="/task-detail/@task.Id">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
